
{% extends 'flatpages/default.html' %}

{% load custom_censure %}


{% block title %}
Post
{% endblock title %}

{% block content %}
    <h5 align="center"> Дата: {{ time_now|date:'d m y' }} </h5>
    <h5> Все новости {{ news|length }} </h5>
    <table align="center">
        <tr>
            <td>Краткое описаниe</td>
            <td>Дата публикации</td>
        </tr>
        {% for i in news %}
    <tr>
        <td><strong>{{ i.text|truncatechars:20|censor }}</strong></td>
        <td>{{ i.add_time }}</td>
    </tr>
        {% endfor %}
    </table>
{% if page_obj.has_previous %}
    <a href="?page=1">1</a>
    {% if page_obj.previous_page_number != 1 %}
...
        <a href="?page={{ page_obj.previous_page_number}}">{{ page_obj.previous_page_number }}</a>
    {% endif %}
{% endif %}


{{ page_obj.number }}
{% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
    {% if paginator.num_pages != page_obj.next_page_number %}
...
    <a href="?page={{ page_obj.paginator.num_pages}}">{{ page_obj.paginator.num_pages }}</a>
    {% endif %}
{% endif %}

{% endblock content %}